.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.content-style1{
  width: 60%;
  left: 50%;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.clearfix {
    content: ".";
    clear: both;
}